<div class="comment">
<p>
  <strong><%= comment.commenter %></strong>

</p>

<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete', [comment.drawing, comment],
               method: :delete, :class => 'fa fa-trash-o' %>
</p>
</div>
