<h1>Blocked</h1>
<h2>Drawings that aren't being showcased</h2>
  <div class="icon-row">
    <div class="feature-icon feature">
      <img src="/images/wrenches.png" alt="Made by You">
    </div>
  </div>
<div class="space-layout">
  <% if current_user.try(:admin?) %>
  <div class="all-maps">
    <%= render 'layouts/sort' %>
    <% @drawings.each do |drawing| %>
      <% if drawing.showcase == false %>
      <div class="map-grid">
        <%= link_to (image_tag drawing.image), drawing_path(drawing) %>
        <h3><%= link_to drawing.title, drawing_path(drawing) %></h3>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
