<h1>All Drawings</h1>
<div class="space-layout">
  <% if current_user.try(:admin?) %>
  <div class="all-maps">
    <p>Sort by: <%= link_to "Title", "?sort=title" %> | <%= link_to "Recently Added", "?sort=created_at" %></p>
    <% @drawings.each do |drawing| %>
      <div class="map-grid">
        <%= link_to (image_tag drawing.image), drawing_path(drawing) %>
        <h3><%= link_to drawing.title, drawing_path(drawing) %></h3>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
