<h1>What Address Do You Want to Sketch?</h1>
<div class="icon-row">
  <div class="feature-icon feature">
    <img src="/images/location-pin.png" alt="Pick an Address"/>
  </div>
</div>
<div class="form-block">
  <%= form_tag '/drawings/new', method: :get do %>
    <%= label_tag 'address', 'Address' %>
    <%= text_field_tag 'address' %>
    <%= submit_tag "Start Drawing!" %>
  <% end %>
</div>
