<h1>Drawings Created By You</h1>
  <div class="icon-row">
    <div class="feature-icon feature">
      <img src="/images/making.png" alt="Made by You">
    </div>
  </div>
<div class="space-layout">
  <div class="all-maps">
      <% if @user_created.present? == false %>
        <div class="no-drawings">
          <p>You need to create a drawing so you can see what you've created here. Get started by taking a look at the <%= link_to 'Drawings page', drawings_path %>.</p>
        </div>
       <% end %>
    <% if @user_created.present? == true && @user_created.length > 1 %>
      <%= render 'layouts/sort' %>
    <% end %>
    <% @user_created.sort { |a,b| a.title <=> b.title }.each do |drawing| %>
      <div class="map-grid">
        <%= link_to (image_tag drawing.image), drawing_path(drawing) %>
        <h3><%= link_to drawing.title, drawing_path(drawing) %></h3>
      </div>
    <% end %>
  </div>
</div>
