<div class="container">
    <div class="row">
        <div class="col-3">
            <h3>Pick An Address</h3>
            <p>Enter an address so you can get a map of that location.</p>
            <img src="/images/location-user.png" alt="Location"/>
        </div>
        <div class="col-3">
            <h3>Sketch On A Map</h3>
            <p>Pick different colors and strokes to draw on top of the map.</p>
            <img src="/images/pen-fountain.png" alt="Sketch"/>
        </div>
        <div class="col-3">
            <h3>Save Your Drawing</h3>
            <p>Save you drawing to the Mapsketch app, and share your work with the world!</p>
            <img src="/images/globe.png" alt="Share with the World"/>
        </div>
    </div>
</div>