<div class="create-today">
    <div class="container">
        <h1>What Will You Create Today?</h1>
        <%= link_to 'Make a New Drawing', drawings_get_address_path, :class => 'get-started' %>
    </div>
</div>
<footer>
    <div class="container">
        <p>Copyright <script>document.write(new Date().getFullYear())</script> by <a href="http://work.megancoyle.com" target="_blank">Megan Coyle</a>
    </div>
</footer>